@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn-primary {
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    font-family: 'Work Sans';
    color: #FFFFFF;
    background-color: #FD6E0A;
    padding: 20px 30px;
    border-radius: 5px;
    display: inline-block;
}

/* bannar-section */
.banner-area {
    margin: 0 auto;
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-content h1 {
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    font-family: 'Work Sans';
    color: #151414;
    max-width: 500px;
    margin: auto;
    margin-right: 0px;
    margin-bottom: 25px;
}

.banner-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-family: 'Work Sans';
    color: #444343;
    max-width: 500px;
    margin: auto;
    margin-right: 0;
    margin-bottom: 35px;
}

.banner-content {
    padding: 210px 230px;
    text-align: right;
}

/* failures-area */
main {
    max-width: 1150px;
    margin: 0 auto;
}

.failures-area {
    margin-top: 100px;
}

.failures-content {
    display: flex;
    align-items: center;
    gap: 85px;
}

.failures-content h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    font-family: 'Work Sans';
    color: #151414;
    margin-bottom: 25px;
}

.failures-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-family: 'Work Sans';
    color: #444343;
    margin-bottom: 16px;
}

.failures-content ul li {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-family: 'Work Sans';
    color: #444343;
    margin-bottom: 8px;
}

.failures-content ul li i {
    color: #16D887;
    margin-right: 10px;
}

.failures-content .image {
    margin-bottom: 100px;
    position: relative;
}

.failures-content .image img {
    opacity: 1;
}

.failures-content .image::after {
    position: absolute;
    content: "";
    background: rgba(241, 91, 34, 0.2);
    width: 93%;
    height: 72%;
    border-radius: 50%;
    left: 4%;
    top: 27%;
    opacity: .9;
    z-index: -1;
}

/* planing-area */
.planing-area .title h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    font-family: 'Work Sans';
    color: #151414;
    text-align: center;
}

.planing-area .planing-content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.planing-content .planing-subject h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    font-family: 'Work Sans';
    color: #151414;
    margin-top: 30px;
}

.planing-content .planing-subject p {
    font-size: 25px;
    font-weight: 500;
    line-height: 29px;
    font-family: 'Work Sans';
    color: #737272;
    margin-top: 16px;
}

/* gardient-area */
.gardient-area {
    margin-top: 100px;
}

.gardient-area .gardient-banner {
    background-image: url(../images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.gardient-area .gardient-banner::before {
    position: absolute;
    content: "";
    background: url(../images/gradient2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .9;
    z-index: -1;
}

.gardient-area .contant {
    padding: 60px 65px;
}

.gardient-area .contant .button a {
    background: #FFFFFF;
    color: #F15B22;

}

.gardient-area .contant h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    font-family: 'Work Sans';
    color: #FFFFFF;
    margin-bottom: 25px;
    max-width: 460px;
}

/* footer-area */
.footer-area {
    margin-top: 100px;
    background-color: #151414;
}

.footer-contant {
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 130px 0px;
}

.future .title-info h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    font-family: 'Work Sans';
    color: #F8F8F8;
    margin-bottom: 16px;
}

.future .title-info p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-family: 'Work Sans';
    color: #FFFFFF;
    max-width: 490px;
}

.future .info {
    margin-top: 25px;
}

.future .info .contact p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-family: 'Work Sans';
    color: #FFFFFF;
    margin-bottom: 16px;
}

.future .icon ul {
    display: flex;
}

.future .icon ul li {
    margin-right: 17px;
}

.future .icon ul li a i {
    font-size: 24px;
    margin-top: 16px;
    width: 46px;
    height: 46px;
    background: #F8F8F8;
    border-radius: 50%;
    text-align: center;
    padding: 11px 10px;
    color: blue;
}

.future .icon ul li:last-child a i {
    color: red;
}

.subscribe-from .title h3 {
    font-size: 25px;
    line-height: 29px;
    font-weight: 600;
    font-family: 'Work Sans';
    color: #FFFFFF;
    margin-bottom: 30px;
}

.subscribe-from form input {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    font-family: 'Work Sans';
    color: #F3F3F3;
    padding: 22px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    outline: none;
}
.subscribe-from .button a{
    margin-top: 16px;
    background: #FFFFFF;
    color: #F15B22;
}